@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

/* Add this to your CSS file */
.arrow {
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
}

.arrow-container {
  transform: translateY(-2px); /* Adjust as necessary for spacing */
}
